
#title {
    font-size: 50px;
    font-display: center;
    color: #004165;
    font-style: italic;
    font-family: 'Ariel Bold', sans-serif;
  }
#dropdown-container {
    text-align: center; 
    background-color: #F9F9F9;
    padding: 1.5%;
    border: 1px solid #F4FAFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5%;
    margin-top: 1%;
    width: 97%;
  }
  