<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>

<h1 style="text-align: center;">Exif Data Viewer</h1>

<table class="table" style="margin-bottom: 25px;width: 25%;margin-left: auto;margin-right: auto;">
  <form action="/upload" method="post" enctype="multipart/form-data">
      <tr> 
        <td style="border: none">
        <input class="form-control" type="file" name="fileToUpload" accept=".jpg,.jpeg,.png,.gif" id="file" required>
        </td>
        <td style="border: none">
        <input class="btn btn-secondary" type="submit" value="Upload" id="Button">
        </td>
      </tr>
  </form>
</table>

<script>
  var uploadField = document.getElementById("file");

  uploadField.onchange = function()
  {
      if(this.files[0].size > 20971520)
      {
        alert("Image is larger than 20MB.");
        this.value = "";
      }
  };
</script>