<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OSINT Dashboard</title>
    <link rel="stylesheet" href="static/styles.css" />
    <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      {% include 'header.html' %}

      <div class="blurb"></div>

      <div class="inputs">
        <form
          id="webForm"
          method="POST"
          action="/web_tool"
          autocomplete="off"
          onsubmit="showLoadingScreen(); startQuoteCycle();"
        >
          <div class="input-container">
            <h2>URL Analysis</h2>
            <p>SOME DESCRIPTION</p>

            <label for="web_input">Enter Website URL:</label>

            <input
              type="url"
              name="web_input"
              id="web_input"
              placeholder="https://example.com/"
              pattern="https?:\/\/(www\.)?.+\..+"
              required
            />
            <button type="submit">Go</button>
          </div>
        </form>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <div class="input-container">
            <h2>Exif Viewer</h2>
            <p>SOME DESCRIPTION</p>
            <label for="file_input"
              >Upload File (.jpg, .jpeg, .png, .gif, or .tiff):</label
            >
            <input
              class="form-control"
              type="file"
              name="fileToUpload"
              accept=".jpg,.jpeg,.png,.gif,.tiff"
              id="file"
              required
            />
            <button type="analyze">Go</button>
          </div>
        </form>

        <form method="POST" action="/pid_tool" autocomplete="off">
          <div class="input-container">
            <h2>Phone Lookup</h2>
            <p>SOME DESCRIPTION</p>
            <label for="phone_input">Enter a Phone Number (11 digits):</label>
            <input
              type="tel"
              name="phone_input"
              id="phone_input"
              title="Please enter only numeric digits"
              required
            />
            <button type="submit">Go</button>
          </div>
        </form>
      </div>

      <div class="credits">
        <p>
          This OSINT Dashboard was developed by ANDREW FLORA. With Help from
          William Campbell and <b>Santiago Colla</b>.
        </p>
      </div>
    </div>
    <div class="loading-screen" id="loadingScreen">
      <div id="quoteContainer" class="quote-container"></div>
      <div></div>
    </div>

    <script>
      function showLoadingScreen() {
        document.getElementById("loadingScreen").style.display = "flex";
      }
      window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
          document.getElementById("loadingScreen").style.display = "none";
        }
      });
      const quotes = [
        "Information is being loaded.",
        "Information is being loaded..",
        "Information is being loaded...",
      ];

      function startQuoteCycle() {
        const quoteContainer = document.getElementById("quoteContainer");
        let index = 0;

        function displayNextQuote() {
          const quote = quotes[index];
          quoteContainer.innerHTML = `<div class="quote">${quote}</div>`;
          index = (index + 1) % quotes.length;
        }

        displayNextQuote();

        const quoteInterval = setInterval(displayNextQuote, 1000);

        setTimeout(() => {
          clearInterval(quoteInterval);
        }, 15000);
      }
    </script>
  </body>
</html>
