<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phone Lookup</title>
    <link rel="stylesheet" type="text/css" href="static/tools.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5642728784073260"
     crossorigin="anonymous"></script>
  </head>

    <div id="dash-board">
        {% include 'header.html' %}

      <div id="info-container">
        <h1 >{{number}}</h1>
      </div>

      <div id="tools-container">
        <div id="tool-column" style="max-width: 600px; margin: 0 auto;">
          <div class="number-info tool-info">
            <b style="font-size: 20px">Phone Number Information:</b>
          </div>
      </div>
    </div>
    <script
      id="large-json-data"
      type="application/json"
      data-large-json="{{number_info}}" 
    >
    </script>
    <script>
      String.prototype.toProperCase = function () {
          return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
      };
      function createAndAppendElements(data, container, dictionary, ignoredItems) {
          for (var key in data) {
                  var hr = document.createElement("hr");
                  container.appendChild(hr);
                  var item = document.createElement("div");

                  value = key in dictionary ? dictionary[key] + ": " + data[key] : key.toProperCase() + ": " + data[key];
                  item.innerHTML = value;
                  container.appendChild(item);
          }
      }

      var toolsConfig = [
          {
              containerSelector: ".number-info",
              dataKey: "phone_number_info",
              dictionary: {},
              ignoredItems: []
          }
      ];
      document.addEventListener('DOMContentLoaded', function() {
          var largeJsonScript = document.getElementById('large-json-data');
          var largeJsonData = JSON.parse(largeJsonScript.getAttribute('data-large-json'));

          toolsConfig.forEach(function (config) {
              var container = document.querySelector(config.containerSelector);
              createAndAppendElements(largeJsonData[config.dataKey], container, config.dictionary, config.ignoredItems);
          });
      });
    </script>
  </body>
</html>
