<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phone Lookup</title>
    <link rel="stylesheet" type="text/css" href="static/tools.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <style></style>
  </head>
  <body>
    <div id="dropdown-container">
      <select id="dropdown-menu" onchange="location = this.value;">
        <option value="" disabled selected style="display: none">
          <a href="#menu"> &#9776; Menu </a>
        </option>
        <option value="/">Home</option>
        <option value="/web-input">URL Analysis</option>
        <option value="/file-input">Exif Viewer</option>
        <option value="/pid-input">Phone Lookup</option>
      </select>
      <h1 id="title">OSINT DASHBOARD</h1>
      <button id="save-as-pdf-button" onclick="saveAsPDF()">Save as PDF</button>
    </div>

    <script>
      function saveAsPDF() {
        var tempTitle = document.title;
        document.title = "OSINT Report.pdf";
        window.print();
        document.title = tempTitle;
      }
    </script>
    <div id="dash-board">
      <div id="info-container">
        <h1>{{number}}</h1>

      </div>

      <div id="tools-container">
        <div id="tool-column" style="max-width: 600px; margin: 0 auto;">
          <div class="number-info tool-info">
            <b style="font-size: 20px">Phone Number Information:</b>
            <span
              class="question-mark"
              onclick="showInfo('IP Information', 'View information about the target IP address; such as hostname, location, organization, etc.')"
              >&#63;</span
            >
          </div>
          
      </div>
    </div>
    <script
      id="large-json-data"
      type="application/json"
      data-large-json="{{number_info}}" 
    >
    </script>
    <script>
      String.prototype.toProperCase = function () {
          return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
      };
      function createAndAppendElements(data, container, dictionary, ignoredItems) {
          for (var key in data) {
                  var hr = document.createElement("hr");
                  container.appendChild(hr);
                  var item = document.createElement("div");

                  value = key in dictionary ? dictionary[key] + ": " + data[key] : key.toProperCase() + ": " + data[key];
                  item.innerHTML = value;
                  container.appendChild(item);
          }
      }

      var toolsConfig = [
          {
              containerSelector: ".number-info",
              dataKey: "phone_number_info",
              dictionary: {},
              ignoredItems: []
          }
      ];
      document.addEventListener('DOMContentLoaded', function() {
          var largeJsonScript = document.getElementById('large-json-data');
          var largeJsonData = JSON.parse(largeJsonScript.getAttribute('data-large-json'));

          toolsConfig.forEach(function (config) {
              var container = document.querySelector(config.containerSelector);
              createAndAppendElements(largeJsonData[config.dataKey], container, config.dictionary, config.ignoredItems);
          });
      });
    </script>
  </body>
</html>
