<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exif Report</title>
    <link rel="stylesheet" type="text/css" href="static/tools.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style></style>
  </head>
  <body>
    <div id="dropdown-container">
      <select id="dropdown-menu" onchange="location = this.value;">
        <option value="" disabled selected style="display: none">
          <a href="#menu"> &#9776; Menu </a>
        </option>
        <option value="/">Home</option>
        <option value="/web-input">Web Input</option>
      </select>
      <h1 id="title">OSINT DASHBOARD</h1>
      <button id="save-as-pdf-button" onclick="saveAsPDF()">Save as PDF</button>
    </div>
    <script>
      function printFunction() {
        var tempTitle = document.title;
        document.title = "Exif Report.pdf";
        window.print();
        document.title = tempTitle;
      }
    </script>
    <div id="exif-information">
      <div id="info-container">
        <h1 style="text-align: center">Exif Report</h1>
      </div>

      <div style="text-align: center; margin-bottom: 20px">
        <h2>File Information</h2>
      </div>
      <div class="section">
        {% for key in PillowDict %}
        <div class="info-block">
          <p><strong>{{ key }}: </strong>{{ PillowDict[key][0] }}</p>
        </div>
        {% if not loop.last %}
        <!-- Add separator if not the last iteration -->
        <hr />
        {% endif %} {% endfor %}
      </div>

      {% if coords %}
      <div style="text-align: center; margin-bottom: 20px">
        <h2>Location Information</h2>
      </div>
      <div class="section">
        {% for coord in coords %}
        <div class="info-block">
          <p><strong>{{ coord }}: </strong>{{ coords[coord] }}</p>
        </div>
        {% if not loop.last %}
        <!-- Add separator if not the last iteration -->
        <hr />
        {% endif %}{% endfor %}
        <hr />
        <div id="map" style="width: 600px; height: 400px"></div>
        <script>
          var coords = {{ coords | tojson | safe }};
          
          var map = L.map('map').setView([coords.latitude, coords.longitude], 13);
    
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '© OpenStreetMap contributors'
          }).addTo(map);
    
          L.marker([coords.latitude, coords.longitude]).addTo(map)
              .bindPopup('Your Marker Popup Content').openPopup();
        </script>        
      </div>
      {% endif %}

      {% if presentTags %}
      <div style="text-align: center; margin-top: 20px">
        <h2>Exif Data</h2>
      </div>
      <div class="section">
        <div class="info-block">
          <p><strong>ExifRead Version: </strong>{{ exifreadVersion }}</p>
        </div>
        {% for value in presentTags %}
        <div class="info-block">
          <p><strong>{{ value }}:</strong> {{ presentTags[value] }}</p>
          {% if not loop.last %}
          <!-- Add separator if not the last iteration -->
          <hr />
          {% endif %}
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </body>
</html>
