<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Analysis</title>
    <link rel="stylesheet" type="text/css" href="static/tools.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  </head>
  <body>
    {% include 'header.html' %}

    <div id="dash-board">
      <div id="info-container">
        <h2>{{user_url}}</h2>
        <h2><img style="width: 32px; height: auto" src="{{ favicon }}" /></h2>
        <h2>{{title}}</h2>
        <h2>{{ip_info}}</h2>
      </div>

      <div id="tools-container">
        <div id="tool-column">
          <div class="ip-information tool-info">
            <b style="font-size: 20px">IP Information:</b>
            <span
              class="question-mark"
              onclick="showInfo('IP Information', 'View information about the target IP address; such as hostname, location, organization, etc.')"
              >&#63;</span
            >
          </div>
          <div class="cookies-info tool-info">
            <b style="font-size: 20px">Cookies Information:</b>
            <span
              class="question-mark"
              onclick="showInfo('Cookies Information', 'View information about the cookies gathered in the analysis.')"
              >&#63;</span
            >
          </div>
          <div class="SSL-info tool-info">
            <b style="font-size: 20px">SSL Certificate:</b>
            <span
              class="question-mark"
              onclick="showInfo('SSL Certificates', 'View information about the target SSL certificates and other security configuration.')"
              >&#63;</span
            >
          </div>
          <div class="sitemap-info tool-info">
            <b style="font-size: 20px">Sitemap:</b>
            <span
              class="question-mark"
              onclick="showInfo('Sitemap', 'View information about the target Sitemap and the subdomains in it.')"
              >&#63;</span
            >
          </div>
        </div>
        <div id="tool-column">
          <div class="whois-info tool-info">
            <b style="font-size: 20px">Whois:</b>
            <span
              class="question-mark"
              onclick="showInfo('Whois', 'View information about the target Whois data; such as registry and domain status report.')"
              >&#63;</span
            >
          </div>
          <div class="header-info tool-info">
            <b style="font-size: 20px">Headers Information:</b>
            <span
              class="question-mark"
              onclick="showInfo('Header Information', 'View information about the Headers gathered in the analysis; such as cache and content encoding data.')"
              >&#63;</span
            >
          </div>
          <div class="links-info tool-info">
            <b style="font-size: 20px">Internal/External Links:</b>
            <span
              class="question-mark"
              onclick="showInfo('Internal/External Links', 'View information about the internal and external and what are they used for.')"
              >&#63;</span
            >
          </div>
        </div>
        <div id="tool-column">
          <div class="screenshot-info tool-info">
            <b style="font-size: 20px">Screenshot:</b>
            <span class="question-mark" onclick="showInfo('Screenshot', '')"
              >&#63;</span
            >
          </div>
          <div class="DNS-info tool-info">
            <b style="font-size: 20px">DNS Records:</b>
            <span
              class="question-mark"
              onclick="showInfo('DNS Records', 'View information about the DNS records gathered in the analysis and what one means.')"
              >&#63;</span
            >
          </div>
          <div class="redirects-info tool-info">
            <b style="font-size: 20px">Page Redirects:</b>
            <span
              class="question-mark"
              onclick="showInfo('Redirects', 'View information about the Redirects detected in the target and where they branch out.')"
              >&#63;</span
            >
          </div>
          <div class="ports-info tool-info">
            <b style="font-size: 20px">Ports:</b>
            <span
              class="question-mark"
              onclick="showInfo('Open Ports', 'View information about the target open ports and what are they used for.')"
              >&#63;</span
            >
          </div>
          <div class="phone-info tool-info">
            <b style="font-size: 20px">Linked Phone Numbers:</b>
            <span
              class="question-mark"
              onclick="showInfo('Linked Phone Numbers', 'View information about the linked Phone Numbers and what are they used for.')"
              >&#63;</span
            >
          </div>
          <div class="email-info tool-info">
            <b style="font-size: 20px">Linked Emails:</b>
            <span
              class="question-mark"
              onclick="showInfo('Linked Emails', 'View information about the linked emails and what are they used for.')"
              >&#63;</span
            >
          </div>
        </div>
      </div>
    </div>

    <div id="modal" class="modal">
      <span class="close" onclick="hideInfo()">&times;</span>
      <h2 id="modal-title"></h2>
      <p id="modal-content"></p>
    </div>
    <script
      id="large-json-data"
      type="application/json"
      data-large-json="{{web_info}}"
    ></script>
    <script>
      function showInfo(title, content) {
        document.getElementById("modal-title").textContent = title;
        document.getElementById("modal-content").textContent = content;
        document.getElementById("modal").style.display = "block";
      }

      function hideInfo() {
        document.getElementById("modal").style.display = "none";
      }
    </script>
    <script src="static/script.js"></script>
  </body>
</html>
