<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Tools</title>
    <link rel="stylesheet" type="text/css" href="static/tools.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <style></style>
  </head>
  <body>
    <div id="dropdown-container">
      <select id="dropdown-menu" onchange="location = this.value;">
        <option value="" disabled selected style="display: none">
          <a href="#menu"> &#9776; Menu </a>
        </option>
        <option value="/">Home</option>
        <option value="/web-input">Web Input</option>
      </select>
      <h1 id="title">OSINT DASHBOARD</h1>
      <button id="save-as-pdf-button" onclick="saveAsPDF()">Save as PDF</button>
    </div>

    <script>
      function saveAsPDF() {
        var tempTitle = document.title;
        document.title = "OSINT Report.pdf";
        window.print();
        document.title = tempTitle;
      }
      function showInfo(title, content) {
        document.getElementById("modal-title").textContent = title;
        document.getElementById("modal-content").textContent = content;
        document.getElementById("modal").style.display = "block";
      }

      function hideInfo() {
        document.getElementById("modal").style.display = "none";
      }
    </script>
    <div id="dash-board">
      <div id="info-container">
        <h1>{{user_url}}</h1>
        <h1><img style="width: 32px; height: auto" src="{{ favicon }}" /></h1>
        <h1>{{title}}</h1>
        <h1>{{ip_info}}</h1>
      </div>

      <div id="tools-container">
        <div id="tool-column">
          <div class="ip-information tool-info">
            <b style="font-size: 20px">IP Information:</b>
            <span
              class="question-mark"
              onclick="showInfo('IP Information', 'View information about the IP address')"
              >&#63;</span
            >
          </div>
          <div class="cookies-info tool-info">Cookies Information:</div>
          <div class="SSL-info tool-info">SSL Certificate:</div>
          <div class="whois-info tool-info">Whois:</div>
        </div>
        <div id="tool-column">
          <div class="header-info tool-info">Headers Information:</div>
          <div class="sitemap-info tool-info">Sitemap</div>
        </div>
        <div id="tool-column">
          <div class="DNS-info tool-info">DNS Records:</div>
          <div class="redirects-info tool-info">Redirects:</div>
          <div class="ports-info tool-info">Open Ports:</div>
        </div>
      </div>
    </div>
    <div id="modal" class="modal">
      <span class="close" onclick="hideInfo()">&times;</span>
      <h2 id="modal-title"></h2>
      <p id="modal-content"></p>
    </div>
    <script
      id="large-json-data"
      type="application/json"
      data-large-json="{{web_info}}"
    ></script>
    <script src="static/script.js"></script>
  </body>
</html>
